<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="addVehicleForm" (ngSubmit)="onAddVehicle()">

      <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control"
               type="number"
               id="year"
               min="1930"
               max="2020"
               formControlName="year">
        <!--<span *ngIf="!addVehicleForm.get('year').valid && addVehicleForm.get('year').touched">
          Valid years: 1930-2020
        </span>-->
      </div>

      <div class="form-group">
        <label for="make">Make</label>
        <input class="form-control"
               type="text"
               id="make"
               formControlName="make">
      </div>

      <div class="form-group">
        <label for="model">Model</label>
        <input class="form-control"
               type="text"
               id="model"
               formControlName="model">
      </div>

      <button class="btn btn-success"
              type="submit"
              >Submit</button>

    </form>
  </div>
</div>

